@mixin pad {
    @media (max-width: 992px) {
        @content;
    }
}
@mixin mobile {
    @media (max-width: 576px) {
        @content;
    }    
}
*,*::before,*::after{
    // outline: 1px solid green;
}
img{
    display: block;
    max-width: 100%;
    height:auto;
}
a{
    text-decoration: none;
    color: black;
    display:block;
    cursor: pointer;
}
.mb-xl{
    margin-bottom: 72px;
    @include pad{
        margin-bottom: 48px;
    }
} 
.btn-range{
    width: 85px;
    height: 18px;
    border: 2px solid transparent;
    cursor: pointer;
    .btn-line{
        width: 18px;
        height: 2px;
        background: black;
        border-radius: 30px;
        transition: all .5s ease-in-out;
    }
    .btn-line::before{
        content:"";
        position: absolute;
        transform: translateY(-5px);
        width: 18px;
        height: 2px;
        background: black;
        border-radius: 30px;
        transition: all .7s ease-in-out;
    }
    .btn-line::after{
        content:"";
        position: absolute;
        transform: translateY(5px);
        width: 18px;
        height: 2px;
        background: black;
        border-radius: 30px;
        transition: all .7s ease-in-out;
    }
}
//漢堡選單

.btn-range.open{
    .btn-line{
        transform: rotate(90deg);
        background: transparent;
        box-shadow:none;
    }
    .btn-line::before{
        transform: rotate(45deg) translate(0 ,0);
    }
    .btn-line::after{
        transform: rotate(-45deg) translate(0 ,0);
    }
    
}
//漢堡選單 Animation
.carousel{
    margin-bottom: 120px;
    @include pad{
        margin-bottom: 350px;
    }
    .carousel-item{
        max-height: 320px;
        img{
            width: 100%;
        }
    }
    .slogan{
        height: 55%;
    }
    .user-select-bar{
        width: 70%;
        bottom: -20%;
        left: 50%;
        transform: translateX(-50%);
        @include pad{
            bottom: -95%;
        }  
        .dropdown{
            width: 26%;
            @include pad{
                width: 80%;
            }
            .dropdown-menu{
                width: 100%;
            }
            button{
                width: 100%;
            }
            button:hover{
                color: #6C51E2;
            }
        }
        .search-btn{
            @include pad{
                width: 80%;
            }
        } 
    }
}
.city-link{
    font-weight: bold;
    border-bottom: 2px solid #F1F0F8;
    color: #00000099;
}
.city-link:hover{
    border-bottom: 2px solid #6C51E2;
    color: #6C51E2;
}

.swiper-container {
    min-width: 100%;
    height: 260px;
    .swiper-button-next{
        padding: 35px;
        background: #6C51E2;
        border-radius: 50%;
    }
}
.top-choices-list{
    li{
        cursor:pointer
    }
    img{
        height: 175px;
        object-fit: cover;
        border-radius: 20px;
    }
}
.popular-destinations-list{
    li{
        cursor: pointer;
    }
    img{
        height: 78px;
        object-fit: cover;
        position: relative;
    }
    .photo-mask:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(
            to right,
            black,
            rgba(34, 34, 34, 0.913)
        );
        opacity: 0.3;
        z-index: 1;
        width: 100%;
        height: 100%;
        border-radius: .25rem;
    }
    .text-white{
        z-index: 2;
    }
}
.get-inspiration-list{
    li{
        cursor:pointer
    }
    img {
        height: 263px;
        object-fit: cover;
    }
}
footer{
    .footer-title{
        font-size:48px;
        font-weight: bold;
        @include pad{
            font-size: 38px;
        }
        @include mobile{
            font-size:24px;
        }
    }
    form{
        width: 40%;
        @include pad{
            width: 90%;
        }
    }
}
.nav-link:hover{
    color: #6C51E2;
}